<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex mx-auto p-10 lg:p-20 justify-center">
        <audio controls>
            <source src="{{ song_url }}" type="audio/mp3">
        </audio>
        
    </div> 
    <div class="flex mx-auto p-10 lg:p-20 justify-center"></div>
        <a href="/" class="flex mx-auto text-center text-black hover:font-bold justify-center">Back to homepage</a>
    </div>
</body>
</html>