<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex mx-auto justify-center p-8">
        <div class="mt-6">
            <img src="data:image/png;base64,{{ image }}" class="w-full max-w-md">
        </div>
    </div>
    <div class="text-center py-8">
        <label>{{ song_name }}</label>
        <div class="flex mx-auto justify-center">
            <audio controls controlsList="nodownload">>
                <source src="{{ song_url }}" type="audio/mp3">
            </audio>
        </div>
    </div> 
    <form action="/download" method="post" class="mt-4">
                <button type="submit" class="flex mx-auto justify-center text-center bg-black text-white hover:bg-transparent hover:text-black hover:ring-2 hover:ring-black px-4 py-2 rounded">Download</button>
    </form>
    <div class="flex mx-auto p-10 lg:p-20 justify-center"></div>
        <a href="/" class="flex mx-auto text-center text-black hover:font-bold justify-center">Back</a>
    </div>
</body>
</html>